.Widget_div{
    padding: 0px;
    height: 100%;
    width: auto;
}

.Pane-class{
    width: auto;
    padding: 5px;
    margin: 5px;
    background-color: #eaeae1;
    border: 1px solid #eaeae1;
    border-radius: 3%;
}

.tab-container{
    width: auto;
    padding: 0px;
    margin: 0px;
}
.tabLabel{
    padding: 8px 16px;
    float: left;
    width: auto;
    text-align: center;
    display: block;
    background: white;
    background-color: white; 
    padding: 5px;
    margin: 0px;
    border: 1px solid #d6d6c2;
    border-bottom: none;
}

input {
    width: 60%;
}
input[type=text] {
    width: 60%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid red;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid red;
    background-color: white;
    color: black;
}

input[type=text]:focus {
    background-color: white;
    border: none;
    color: black
}
input[type=password] {
    width: 60%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid red;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid red;
    background-color: white;
    color: black;
}

input[type=password]:focus {
    background-color: white;
    border: none;
    color: black
}

input[type=email] {
    width: 60%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid red;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid red;
    background-color: white;
    color: black;
}

input[type=email]:focus {
    background-color: white;
    border: none;
    color: black
}


input[type=button] {
    width: 20%;
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    border: none;
    border-bottom: none;
    background-color:#39e600;
    color: white;
}

input[type=button]:focus {
    background-color: #39e600;
    border: none;
    color: black
}
form[target='_blank'] {
    background-color: #eaeae1;
    width: auto;
    height: auto;
}

.Widget_div span {
    font-family: verdana;
    font-size: 20px;
}

.dijitTabContainerTop-container {
    border: none;
    border-top: 0;
}

.dijitTabContainer dijitTabContainerTop dijitContainer dijitLayoutContainer dijitTabContainerNoLayout tabStrip-disabled{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.mx-dataview mx-name-dataView2 form-horizontal{    
    border: 2px solid black;
    width: 100%
}

.dijitTabListWrapper dijitTabContainerTopNone dijitAlignCenter{
    height: 36px;
    left: 0px;
    top: 0px;
    border-bottom: none;
    position: absolute;
    width: 100%;
    border: none;
}

.nowrapTabStrip dijitTabContainerTop-tabs dijitTabNoLayout{
    padding: 0;
    width: 100%;
    border: none;
}

.dijitTabPaneWrapper dijitTabContainerTop-container{

}

.dijitTabListContainer-top dijitTabController dijitScrollingTabController tabStrip-disabled dijitLayoutContainer{
    height: 36px;
    width: 100%;
}
