<div class= "form_wrapper">
<input id='tab1' type='radio' name='tabs' checked>
<label for='tab1' id='domtablabel1' style='font-size: 100%;'>Login</label>

<input id='tab2' type='radio' name='tabs'>
<label for='tab2' id='domtablabel2' style='font-size: 100%;'>Register</label>

<input id='tab3' type='radio' name='tabs'>
<label for='tab3' id='domtablabel3' style='font-size: 100%;'>Forgot password</label>

<section id='content1'>

    <form target='_blank'>
        <div>
            <div id='warningNode'></div><span id='userLabel'>User name</span><br/>
            <input type='text' id='LogUserName' /><br/>
            <span id='userPassword'>Password</span><br/>
            <div style='display: inline-flex; width:100% '> <input type='password' id='LogPassword' />
                <span id='eye' style='color:#008CBA; padding: 5px 5px; margin: 8px 0' >Show</span>
            </div>
            <br/><input type='button' class='ButtonDiv' value='Log in' id='LoginID' />
            </div>
    </form>

</section>

<section id='content2'>
    <form target='_blank'>
        <div id='warningNode2'></div><span id='userLabel1'>User name</span><br/>
        <input type='text' placeholder='user name' id='Regusername' /><br/>
        <span id='userPassword1'>Password</span><br/>
        <input type='password' placeholder='Password' id='Regpassword1' /><br/>
        <span id='userPassword2'>Password again</span><br/>
        <input type='password' placeholder='Password' id='Regpassword2' /><br/>
        <span id='EmailLabel'>Email</span><br/>
        <input type='email' placeholder='example@gmail.com' id='RegEmail' /><br/>
        <input type='button' value='sign up' id='signup' />
        
    </form>
</section>

<section id='content3'>
    <form target='_blank'>
        <div>
            <div id='warningNode3'></div>
            <span id='EmailLabel1'>Email</span><br/>
            <input type='email' placeholder='example@gmail.com' id='forgetID' /><br/>
            <input type='button' value='Reset' id='RememberPassword' />
    </form>
</section>
</div>