<div class="form_wrapper">
<div class= "form_wrapper_no_context">
        <input id='tab11' type='radio' name='tabsNoContext' checked>
        <label for='tab11' id='domtablabel11'>Login</label>

        <section id='content11'>
            <form target='_blank'>
                <div>
                    <div id='warningNode1'></div><span id='userLabel1'>User name</span><br/>
                    <div style='display: inline-flex;'>
                        <input type='text' id='LogUserName1'/>
                        <span id="userNameError" style='padding: 5px 5px; margin: 8px 0;'></span>
                    </div>
                     <br/>
                    <span id='userPassword1'>Password</span><br/>
                    <div style='display: inline-flex;'>
                         <input type='password' id='LogPassword1' />
                         <span id='eyeIdNoContext' style='color:#008CBA; padding: 5px 5px; margin: 8px 0;cursor: pointer;' >Show</span>
                    </div>
                    <span id="passwordError" style='padding: 5px 5px; margin: 8px 0;'></span>
                    <br/>
                    <input type='button' id='loginButton1' />
                </div>
                 <br/>
                 <a href="#" id="forgottenPassword">Forgot password</a>
        </section>
    </div>
</div>