#WidgetDiv{
    display: none;
}
.tabLabel{
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    outline: none;
}
.tabLabel:hover{
    background-color:red;
    color: white;
}