<<<<<<< HEAD

.ButtonDiv{
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 5px 5px 5px 5px;
    color: white;
    text-align: center;
    text-decoration: none;
}

#addButton{
    background-color: #4CAF50; /* Green */
}

#tab_container{
    background-color: #4CAF50; /* Green */
=======
#WidgetDiv{
    display: none;
>>>>>>> temp
}